/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Inter;
}
#nav-bar {
  background-color: rgba(245, 245, 247, 0.8);
  width: 1920px;
  height: 44px;
  padding-top: 10px;
  margin-inline: auto;
}
#nav-bar a {
  text-decoration: none;
  color: #000000;
}
#nav-bar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 30px;
}
#nav-bar ul li a {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.28px;
}
#showcase_1 {
  background-color: linear-gradient(to bottom, #f5f5f7, #ffffff);
}
#showcase_1 p {
  text-align: center;
  padding: 16px 0;
}
.container_1 {
  width: 1920px;
  height: 692px;
  background: url(/img/Background_1.png) no-repeat center center/cover;
  margin-inline: auto;
}
.container_1 .model,
.container_2 .model {
  color: #f5f5f7;
  text-align: center;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_1 .model h1,
.container_2 .model .h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.28px;
}
.container_1 .model p,
.container_2 .model p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
}
.container_1 .model .learn {
  width: 123px;
  height: 44px;
  margin-left: -80px;
  background-color: #0071e3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_1 .model .learn a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}
.container_1 .model .buy {
  width: 68px;
  height: 44px;
  margin-top: -45px;
  margin-left: 130px;
  border: #2997ff solid 1px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_1 .model .buy a {
  text-decoration: none;
  color: #2997ff;
  font-weight: 400;
  font-size: 16px;
}
#showcase_2 {
  background-color: #f5f5f7;
}
#showcase_2 p {
  text-align: center;
  padding: 16px 0;
}
.container_2 {
  width: 1920px;
  height: 692px;
  background: url(img/2_background.jpg) no-repeat center center/cover;
  margin-inline: auto;
}
.container_2 .model .learn_1 {
  width: 123px;
  height: 44px;
  margin-left: -80px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_2 .model .learn_1 a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
}
.container_2 .model .buy_1 {
  width: 68px;
  height: 44px;
  margin-top: -45px;
  margin-left: 130px;
  border: #ffffff solid 1px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_2 .model .buy_1 a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-family: 16px;
}
#showcase_3 {
    background-color: #f5f5f7;
}
#showcase_3 p {
    text-align: center;
    padding: 16px 0 ;
}
.container_3 {
    width: 1920px;
    height: 692px;
    background: url(img/3_background.jpg) no-repeat center center/cover;
    margin-inline: auto;
}
.container_3 .contents{
    padding-top: 446px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.container_3 .contents h1 {
    font-weight: 600;
    font-size: 52px;
    line-height: 60px;
    letter-spacing: -0.28px;
    color: #000000;
}
.container_3 .contents p {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
}
.container_3 .contents .gift-button {
    width: 114px;
    height: 44px;
    background-color: #0071e3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_3 .contents .gift-button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.37px;
}
#showcase_4 {
  background-color: #ffffff;
}
#showcase_4 p {
  text-align: center;
  padding: 16px 0 ;
}
.container_4 {
  width: 1920px;
  height: 1764px;
  margin-inline: auto;
}
.container_4 .grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
}
.container_4 .grid .img_1 {
  width: 942px;
  height: 580px;
  background: url(/img/grid_1.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_4 .grid .img_1 img {
  margin-top: -350px;
}
.container_4 .grid .img_1 p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
}
.container_4 .grid .img_1 .learn_2,
.container_4 .grid .img_2 .learn_2,
.container_4 .grid .img_3 .learn_2,
.container_4 .grid .img_4 .learn_2,
.container_4 .grid .img_6 .learn_2
{
  width: 115px;
  height: 40px;
  margin-left: -80px;
  background-color: #0071e3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_4 .grid .img_1 .learn_2 a,
.container_4 .grid .img_2 .learn_2 a,
.container_4 .grid .img_3 .learn_2 a,
.container_4 .grid .img_4 .learn_2 a,
.container_4 .grid .img_6 .learn_2 a
{
  text-decoration: none;
  color: #ffffff;
}
.container_4 .grid .img_1 .buy_2,
.container_4 .grid .img_2 .buy_2,
.container_4 .grid .img_3 .buy_2,
.container_4 .grid .img_4 .buy_2
{ 
  width: 68px;
  height: 40px;
  margin-top: -40px;
  margin-left: 120px;
  border: #2997ff solid 1px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_4 .grid .img_1 .buy_2 a,
.container_4 .grid .img_2 .buy_2 a,
.container_4 .grid .img_3 .buy_2 a,
.container_4 .grid .img_4 .buy_2 a
{
  text-decoration: none;
  color: #2997ff;
}

.container_4 .grid .img_2 {
  width: 942px;
  height: 580px;
  background: url(/img/grid_2.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_4 .grid .img_2 h1 {
  margin-top: 320px;
  color: #f5f5f7;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0px;
}
.container_4 .grid .img_2 p {
  color: #f5f5f7;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
}

.container_4 .grid .img_3 {
  width: 942px;
  height: 580px;
  background: url(/img/grid_3.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_4 .grid .img_3 span {
  margin-top: -300px;
  margin-left: -170px;
  margin-bottom: 0;
  opacity: 1;
  color: #000000
}

.container_4 .grid .img_3 h1 {
  margin-top: -35px;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
}

.container_4 .grid .img_3 h2 {
  margin-top: 10px;
  font-weight: 700px;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 2px;
}
.container_4 .grid .img_3 p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  color: #1d1d1f;
}
.container_4 .grid .img_4 {
  width: 942px;
  height: 580px;
  background: url(/img/grid_4.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_4 .grid .img_4 h1 {
  margin-top: -350px;
  padding: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
}
.container_4 .grid .img_4 p { 
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
}
.container_4 .grid .img_5 {
  width: 942px;
  height: 580px;
  background: url(/img/grid_5.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_4 .grid .img_5 span {
  margin-top: -300px;
  margin-left: -180px;
}
.container_4 .grid .img_5 h1 {
  margin-top: -35px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
}
.container_4 .grid .img_5 p { 
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
}
.container_4 .grid .img_5 .estimate {
  width: 167px;
  height: 40px;
  background-color: #0071e3;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_4 .grid .img_5 .estimate a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #ffffff;
}
.container_4 .grid .img_6 {
  width: 942px;
  height: 580px;
  background: url(/img/grid_6.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_4 .grid .img_6 span {
  margin-top: -300px;
  margin-left: -130px;
}
.container_4 .grid .img_6 h1 {
  margin-top: -35px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
}
.container_4 .grid .img_6 .Apply {
  margin-top: -40px;
  margin-left: 170px;
  width: 112px;
  height: 40px;
  border: #0071e3 solid 1px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_4 .grid .img_6 .Apply a {
  text-decoration: none;
  color: #0071e3;
}